@using VirtualGallery.Web.Extensions
@using VirtualGallery.BusinessLogic.Orders
@using VirtualGallery.Web.Models.Delivery
@model VirtualGallery.Web.Models.Delivery.DeliveryPageModel
@{
    Layout = MVC.Shared.Views._Layout;
}

@section LeftSide{
    <div class="photo-container pull-right"><img src='@Links.Content.Img.courier_jpg'/></div>
    <section id="deliveryCommon" class="font-auto">
        @if (ViewBag.AllowEdit)
        {
            <div id="deliverySummary" contenteditable="true" style="min-height: 200px;">
                @Html.Raw(Model.DeliverySummary)
            </div>
            <a id="saveSummary" style="float: right;"><i class="fa fa-bottom fa-save fa-1"></i></a>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#saveSummary").click(function () {
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            cache: false,
                            url: "@Url.Action(MVC.Delivery.SetDeliverySummary())",
                            data: { Text: $("#deliverySummary").html() }
                        });
                    });
                });
            </script>
        }
        else
        {
            @Html.Raw(Model.DeliverySummary)
        }
    </section>
}

@section RightSide{
    <ul class="heading2">
        
        @Html.Partial(MVC.Delivery.Views._DeliveryItem, new DeliveryItemModel
        {
            Title = DeliveryType.SelfTake.ToLocalizedString(),
            DeliveryType = DeliveryType.SelfTake,
            Summary = Model.DeliverySelfTakeSummary
        })

        @Html.Partial(MVC.Delivery.Views._DeliveryItem, new DeliveryItemModel
        {
            Title = DeliveryType.Express.ToLocalizedString(),
            DeliveryType = DeliveryType.Express,
            Summary = Model.DeliveryExpressSummary
        })

    </ul>
}
