@using VirtualGallery.Infrastructure.Localization
@using VirtualGallery.BusinessLogic.Configuration
@model VirtualGallery.Web.Models.BasePageModel

@Html.Partial(MVC.Shared.Views._ConditionalComments)
<html class="no-js" lang="en" style="height: 100%;">
	@Html.Partial(MVC.Shared.Views._LayoutHead)
    <body class="common">
	    @Html.Partial(MVC.Shared.Views._YaMetrika, AppSettings.YaMetrika)
        <div class="book">
            <img src="@Links.Content.Img.book_jpg" alt="book.jpg"/>
            <img class="koffee-cup" src="@Links.Content.Img.koffee_cup_png" alt="koffee-cup.png"/>
        </div>
        <div class="content">
            @Html.Partial(MVC.Shared.Views._MainMenu, Model.SelectedTab)
            <aside>
                @Html.Partial(MVC.Shared.Views._AsideMenu, Model.SelectedTab)
                @RenderSection("Aside", false)
            </aside>
            <main>
                <div class="left-side">
                    @RenderSection("LeftSide", false)
                </div>
                <div class="right-side">
                    @RenderSection("RightSide", false)
                </div>
                @RenderBody()
            </main>
            <script type="text/javascript">
                $(function () {
                    var hideAllShownTooltips = function () {
                        $('body').find('.tooltip.in:not(.free)').hide();
                    };
                    $('body').on("mouseenter", '*[rel="tooltip"]', function () {
                        var self = $(this),
                            data = self.data(),
                            dataTooltip = self.data('tooltip');
                        var settings = {
                            delay: {
                                show: data.delayShow != null ? data.delayShow : 500,
                                hide: data.delayHide != null ? data.delayHide : 100,
                            },
                            shift: Number(data.shift) || 0,
                            placement: data.placement != null ? data.placement : 'top',
                            html: data.tooltipHtml != null ? data.tooltipHtml : true,
                            container: data.tooltipContainer != null ? data.tooltipContainer : ".dialogs"
                        };

                        var preventParentTooltip = function (current) {
                            current.parents().filter('*[rel="tooltip"]').each(function () {
                                var tooltip = $(this).data('tooltip');
                                if (tooltip) {
                                    tooltip.hide();
                                    tooltip.disable();
                                }
                            });
                        };

                        self.tooltip(settings);
                        if (!dataTooltip) {
                            self.attr('data-original-title') || self.attr('data-original-title', self.attr('title')).removeAttr('title');
                            var tooltipTimeout = setTimeout(function () {
                                self.tooltip("show");
                                self.off(".tooltipTimeout");

                                preventParentTooltip(self);

                            }, settings.delay.show);
                            $("body").trigger("tooltip:open", { index: tooltipTimeout, delay: settings.delay.show });

                            self.on("mouseleave.tooltipTimeout", function () {
                                clearTimeout(tooltipTimeout);
                                self.off(".tooltipTimeout");
                            });

                            self.on("mouseleave", function (e) {
                                self.parents().filter('*[rel="tooltip"]').each(function () {
                                    var tooltip = $(this).data('tooltip');
                                    if (tooltip) {
                                        tooltip.enable();
                                        tooltip.show();
                                        return false;
                                    }
                                });
                            });
                        } else {
                            preventParentTooltip(self);
                        }
                    });

                    $(document).ajaxStop(hideAllShownTooltips);
                });

                $(document).ready(function () {
                    var $book = $(".book"),
                        $content = $(".content"),
                        busy = false;
                    var resize = function () {
                        if (!busy) {
                            busy = true;
                            $content.height($book.height() - $content.offset().top * 2);
                            $(window).resize();
                            busy = false;
                        }
                    };

                    $(window).resize(resize);
                    setTimeout(resize, 100);
                });
            </script>
            @RenderSection("scripts", required: false)
        </div>        
		<div class="dialogs">
			@RenderSection("Dialogs", required: false)
		</div>
    </body>
</html>
